BR2_aarch64=y
BR2_CCACHE=y
BR2_CCACHE_DIR="$(TOPDIR)/.ccache-buildroot-$(BR2_ARCH)"
BR2_OPTIMIZE_2=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_1=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_TIMESERVER=""
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/kylin/copy_ko.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:Metrological/realtek-linux-4.1.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="e0c190f36fb24e53fa4f6aa3bb885219c51a1f28"
BR2_LINUX_KERNEL_PATCH="board/kylin/fixed-cpu-gpu-frequency-and-enable-rf4ce-for-the-puck.4.1.35.patch "
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/kylin/rtk129x_android_emmc_puck_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="realtek/rtd-1295-giraffe-2GB realtek/rtd-1295-qa-rescue"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_KYLIN_HARDWARE=y
BR2_PACKAGE_KYLIN_KERNEL_4_1_35=y
BR2_PACKAGE_KYLIN_DRIVERS=y
BR2_PACKAGE_KYLIN_DRIVERS_BLUETOOTH=y
BR2_PACKAGE_KYLIN_DRIVERS_MALI=y
BR2_PACKAGE_KYLIN_DRIVERS_RF4CE=y
BR2_PACKAGE_KYLIN_DRIVERS_WIFI=y
BR2_PACKAGE_KYLIN_DRIVERS_PARAGON=y
BR2_PACKAGE_KYLIN_DRIVERS_AUDIO=y
BR2_PACKAGE_KYLIN_RESCUE_IMG=y
# BR2_TARGET_ROOTFS_TAR is not set
